<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TestApp</title>
    <style>
        div{
            display: flex;
            justify-content: center;
            height:100vh;
            align-items: center;
            flex-direction: column;    
        }

        h1{
            transition:2s;
            font-size: 25px;
            transform: rotate(360deg);
            color: green;
        }
        p{
            width: 300px;
            color: orange;
        }
    </style>
</head>
<body>
    <div>
        <h1> Felicitaciones!</h1>

        <p>Ahora, completa 3 tareas, toma una captura de pantalla y se la envía a su mentor para reclamar la comisión.</p>
    </div>
</body>
</html>